<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{site.baseurl}}/img/SERU_logo.png"></span>&nbsp;&nbsp; {{ site.title }}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li {% if page.url == "/research.html" %} class="active" {% endif %}><a href="{{ "/research.html" | prepend: site.baseurl }}">Research</a></li> 
                <li {% if page.url == "/publications.html" %} class="active" {% endif %}><a href="{{ "/publications.html" | prepend: site.baseurl }}">Publications</a></li>
                <li {% if page.url == "/projects.html" %} class="active" {% endif %}><a href="{{ "/projects.html" | prepend: site.baseurl }}">Projects</a></li>               
                <li {% if page.url == "/people.html" %} class="active" {% endif %}><a href="{{ "/people.html" | prepend: site.baseurl }}">People</a></li>
                <li {% if page.url == "/docs/home/" %} class="active" {% endif %}><a href="{{ "/docs/home/" | prepend: site.baseurl }}">News</a></li>
                <li {% if page.url == "/seminars.html" %} class="active" {% endif %}><a href="{{ "/seminars.html" | prepend: site.baseurl }}">Seminars</a></li>
                <li {% if page.url == "/joinus.html" %} class="active" {% endif %}><a href="{{ "/joinus.html" | prepend: site.baseurl }}">Join Us</a></li>
                <!-- <li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ site.posts.first.url | prepend: site.baseurl }}">News</a></li> -->
            </ul>
            <div class="navbar-right">
                <!-- <form class="navbar-form navbar-left">
                    <div class="form-group has-feedback">
                        <input id="search-box" type="text" class="form-control" placeholder="Search...">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form> -->
                <ul class="nav navbar-nav">
                    <!--
                    <li><img width="40px" src="https://muict-seru.github.io/img/ict_logo.png" alt="" class="img-responsive"></li>
                    <li><img width="100px" src="https://muict-seru.github.io/img/mahidol.png" alt="" class="img-responsive"></li>
                    <li><a href="https://www.facebook.com/muict.seru"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/muict_seru"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="{{ site.git_address }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</nav>
